@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;900&family=Rubik:wght@300;400;600;900&display=swap');
.image_alignment {
    width: 10rem;
    height:9rem;
    background-size: cover;
    padding:1rem;
}
.kart-price{
    padding: 1rem;
}
.kart-heading{
    text-align: center;
    font-weight: 400;
}
.kart_container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    font-family: 'Noto Sans';
}
